# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintrc.json

# environment variables
.env
.env.production
config.json

# macOS-specific files
.DS_Store