# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintrc.json
.prettierrc.json
.eslintrc.json
logs/

# misc
dashboard/

# environment variables
.env
.env.production
config.json
config.js

# macOS-specific files
.DS_Store